.banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/imgbanner.jpg); /*Usa-se esta estrutura para voltar para páginas externas*/
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;

    
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
    padding-top: 95px;
    padding-left: 90px;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .buttons-banner {
    display: flex;
    justify-content: space-around;

}