.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skills-tec {
    width: 430px;
}

.wrapper-skill .skills-tec:nth-child(odd) { /*pseudoclasse utilizada para selecionar apenas os elementos filhos ímpares (odd)*/
    margin-right: 100px;
    margin-bottom: 40px;
}

.skills-tec .progress-bar {
    width: 320px;
}